        <h1>Using RadSearch</h1>
<p>RadSearch is a powerful tool that allows for complex search queries. Below is a starter guide for
using the search terminology</p>
<h2>How to Search with Multiple Terms</h2>
<p>Searching for multiple terms allow for complex, accurate searching. Used correctly, they are an invaluable tool for
discovering studies.</p>
<h3>How to Think About Multiple Term Search</h3>
<p>
	<pre><ul>
		<li>lung and nodule, lung AND nodule <i>the cases I am searching for must contain both lung and nodule</i></li>
		<li>lung or nodule, lung OR nodule <i>the cases I am searching for must contain either lung or nodule</i></li>
		<li>lung not nodule, lung !nodule, lung NOT nodule <i>the case I am searching for must contain lung and not nodule</i></li>
		</ul>
	</pre>
 Specific information about these three ways to search multiple terms follow below:
</p>
<h4>AND</h4>
<pre>Query Example: lung &amp; nodule</pre>
<p>This query will yield results of cases that have both key terms "lung" and "nodule". Search is based both on inclusion of these terms as well as
their proximity to each other.</p>
<p><em>N.B.</em> Whenever you query RadSearch, there is an <em>implicit</em> AND operator, meaning:</p>
<pre>lung &amp; nodule and lung nodule</pre> will both yield the same results. Keep in mind you can start an AND query with the operators: &amp;, AND, or by typing in the two search terms you want to "link" together</p>
<h4>OR</h4>
<p>An OR query will yield results of cases that have either the key term lung or nodule. An OR query might be used to search for two terms
	that are synonymous</p>
<p>You can start an OR query with the following operators: |, OR</p>
<h4>NOT</h4>
<p>A NOT query will exclude the term you preface with a NOT operator. Such a query might be used if you are looking for cases where the search terms are often related, but you're looking for a larger pool of cases.  In the lung nodule example, lung -nodule would obviously yield considerably more cases than lung nodule. This operator can be used to widen your scope of searches.</p>
<h2>Complicated Searches</h2>
<p>Multiple terms can be used in more complex searches, should you need them.</p>
<h3>Grouping</h3>
<p>Grouping terms will allow you to create even more complex queries, for example:
<pre>(lung nodule) | (xray chest)</pre>
would yield a search for lung nodules or chest xrays.</p>
<p><em>Please Note:</em>the not operator cannot be included in parenthesis. Searching via a not operator only works on the top level of a search. Therefore:
	<pre>(lung nodule) | -chest</pre>
	is a perfectly acceptable query, whereas:
	<pre>(lung nodule) |(-chest xray)</pre>
	would return an error message as the NOT operator is nested in parenthesis.

<h3>Phrase Searching</h3>
<p>Using quotes in a search will return the exact phrase in those quotes, i.e.
	<pre>"lung nodule"</pre>
	would yield studies that match this exactly. <em>Please Note:</em>you may notice that in phrase searching you will have text that is highlighted that does not match your
	phrase search exactly.
	You can extend this search even further by including:
	<pre>"lung nodule"~10</pre>
	which would give you the terms lung and nodule no more than ten words apart.
