<h1>Important Information About Using RadSearch</h1>

<h3>
  RadSearch is intended to be used for clinical decision support, education, and/or training. Access to reports or data for research purposes requires a current, IRB-approved protocol.
</h3>

<ol>
  <li><h3>Examples of appropriate uses include:</h3>
  <ul>
    <li>Identification of similar cases for comparisons in decision support at the point of care (workstation)</li>
    <li>Aggregation of cases on a specific disease entity or feature for education at the point of care or in a lecture setting</li>
    <li>Aggregation of cases for creation of a teaching file</li>
    <li>Searches to identify cases that meet inclusion criteria of an IRB-approved protocol</li>
  </ul>
  </li>
    
  <li><h3>Examples of inappropriate uses include:</h3>
  <ul>
    <li>Random browsing of the reports</li>
    <li>Displaying or publishing PHI associated with any images or supporting data (see note on	anonymization below)</li>
    <li>Allowing non-UM personnel (e.g., vendors, public, volunteers) to access RadSearch</li>
    <li>Searching to identify cases for a planned research project that does not yet have an IRB-approved protocol</li>
    <li>Downloading and storing images with PHI on a nonsecure PC or other device.</li>
  </ul>
  </li>

  <li><h3>In compliance with Health Insurance Portability and Accountability Act regulations, ALL PHI exposed through this system is tracked whenever it is displayed on the screen. Each view of PHI is associated with the user logged in to the system. It is the responsibility of the user logged in to assure that any PHI is used appropriately. All searches are also tracked and may be reviewed for appropriateness. It is important to remember to:</h3>
  <ul>
    <li>Use only your own log-in name; do not allow others to log in under your name.</li>
    <li>Do not leave a Web browser open to RadSearch when you are logged in. </li>
    <li>Log out by clicking on the “Log Out” link in the upper right corner of the screen. </li>
  </ul>
  </li>

  <li><h3>Care should be exercised in ensuring that images and reports downloaded for presentations, publications, teaching files, or Internet displays are properly anonymized. Instructive publications on this topic include:</h3>
  <ul>
    <li>Avrin D. HIPAA privacy and DICOM anonymization of research. Acad Radiol. 2008;15:273.</li>
    <li>Fetzer DT, West OC. The HIPAA Privacy Rule and protected health information: Implications in research involving DICOM image databases. Acad Radiol. 2008;15:390–395</li>
    <li>Weadock WJ, Londy FJ, Ellis JH, Goldman EB. Do radiology and other health care presentations posted on the Internet contain accessible protected health information? Radiology. 2008;249:285–293.</li>
    <li>Yam CS. Removing hidden patient data from digital images in PowerPoint. AJR Am J Roentgenol. 2005;185:1659–1662.</li>
  </ul>
  </li>
</ol>

<h3>
  Inappropriate use of RadSearch could jeopardize the status of existing research protocols and external funding support, and, in some instances, could render both the user and the institution subject to federal prosecution.
</h3>